$theme-color: #ffffff;
$theme-color-2: #dfdfdf;
$font-size: 12px;

body {
	margin: 0;
	padding: 0;
	overflow: hidden;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Arial, sans-serif;
	--font-family-mono: Menlo, Monaco, Consolas, "Droid Sans Mono", monospace;
}

#canvas {
	width: 100vw;
	height: 100vh;
	padding: 0;
	margin: 0;
}

// Dialog

#dialog-wrapper {
	position: absolute;
	top: 0;
	left: 0px;
	width: 200px;
	margin-top: 20px;
	margin-left: 20px;

	border: 1px solid $theme-color;
	border-radius: 2px;
	backdrop-filter: blur(30px);
	//background-color: black;

	color: $theme-color;
}
.dialog-element{
	padding: 5px;
	//margin-bottom: 5px;
	
	//border: 1px solid $theme-color;
	//border-radius: 3px;
	//backdrop-filter: blur(12px);
}
.dialog-element-hidden {
	display: none;
}
.dialog-element-display{
	display: block;
}


// Accordion

.accordion-input {
	display: none;
}
.accordion-label, .accordion-content {
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	transform: translateZ(0);
	transition: all 0.3s;
}
.accordion-label {
	display: block;
	margin-bottom: 5px;
	position: relative;
	padding-left: 20px;
	margin-bottom: 1px;

	user-select: none;
	color: $theme-color;
	font-size: $font-size;
	font-weight: normal;
	text-align: left;
}
.accordion-label::before {
	content:"";
	width: 6px;
	height: 6px;
	border-top: 2px solid $theme-color;
	border-right: 2px solid $theme-color;
	//-webkit-transform: rotate(45deg);
	position: absolute;
	top:calc( 50% - 3px );
	left: 3px;
	bottom: 5px;
	transform: rotate(45deg);
	transition: all 0.2s;
}
.accordion-input:checked + .accordion-label::before {
	transform: rotate(135deg) translateY(0px) translateX(-4px);
	transition: all 0.2s;
}
.accordion-content {
	max-height: 0;
	margin-top: 5px;
	overflow: hidden;
	color: $theme-color;
}
.accordion-input:checked + .accordion-label + .accordion-content {
	max-height: 500px;
	transition: all 1.5s;
}
.inner-accordion-label{
	text-align: left;
	font-size: $font-size;
	font-weight: normal;
	color: $theme-color;
}
.inner-accordion-content{
	margin-left: 5px;
	padding-left: 5px;
	border-left: 1px solid $theme-color-2;
}
.inner-accordion-label::before {
	border-top: 1px solid $theme-color;
	border-right: 1px solid $theme-color;
}

// widget

.widget-wrapper{
	margin-left: 5px;
	padding-left: 5px;
	border-left: 1px solid $theme-color-2;
	font-size: $font-size;
}
.widget-wrapper-hidden{
	display: none;
}
.widget-row{
	height: 20px;
	font-size:$font-size;
	font-weight: 400;
	margin: 2px;
	margin-left: 4px;
	display: flex;
    flex-wrap: wrap;
}
.widget-label{
	width: calc(100% / 2);

	user-select: none;
}
.widget-value{
	width: calc(100% / 2);
}
.widget-separator{
	height: 1px;
	margin: 5px;
	background-color: $theme-color-2 !important;
}

// Each widgets element

.select-element{
	text-align-last: left;

	//appearance: none;
	border: 1px solid $theme-color-2;
    border-radius: 3px;
	color: $theme-color-2;
	background-color: transparent;
	font-size: $font-size;
}
.select-element:hover{
	border: 1px solid $theme-color-2;
	color: $theme-color;
}
.select-element:focus{
	outline: 0px;
}
.select-element > option{
	color: $theme-color-2;
}

.range-element{
	appearance: none;
	display: inline-block;
	width: 60%;
	height: 10px;
	accent-color: $theme-color-2;
	background: transparent;
	border: 1px solid $theme-color-2;
	border-radius: 3px;
}
.range-element::-webkit-slider-thumb {
	-webkit-appearance: none;
	appearance: none;
	width: 3px;
	height: 10px;
	background: $theme-color-2;
	box-shadow: none;
}
.range-element::-moz-range-thumb {
	border: none;
	border-radius: 0;
	width: 3px;
	height: 1px;
	background: $theme-color-2;
	box-shadow: none;
}
.range-text-element{
	display: inline-block;
	width: 30%;
	text-align: center;
}

.checkbox-element{
	margin-left: 20px;
}

.color-picker-element{
	border: 0px;
	border-radius: 3px;
	outline: 0px;
	height: inherit;
	background-color: transparent;
}
.color-picker-element::-webkit-color-swatch{
	border: none;
}
.color-picker-element::-webkit-color-swatch-wrapper{
	padding: 0px;
	border: 1px solid $theme-color-2;
}
